[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/irblack"]
	path = vim/bundle/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim/bundle/color-github"]
	path = vim/bundle/color-github
	url = https://github.com/telamon/vim-color-github.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/pyte"]
	path = vim/bundle/pyte
	url = https://github.com/vim-scripts/pyte.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "vim/bundle/janus-colors"]
	path = vim/bundle/janus-colors
	url = https://github.com/TechnoGate/janus-colors.git
[submodule "vim/bundle/Color-Sampler-Pack"]
	path = vim/bundle/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "vim/bundle/pasta"]
	path = vim/bundle/pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "vim/bundle/autoclose"]
	path = vim/bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/cocoa"]
	path = vim/bundle/cocoa
	url = https://github.com/markschabacker/cocoa.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/golden-ratio"]
	path = vim/bundle/golden-ratio
	url = https://github.com/roman/golden-ratio.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/write"]
	path = vim/bundle/write
	url = https://github.com/Soares/write.vim.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "tmux/powerline"]
	path = tmux/powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "tmux/solarized"]
	path = tmux/solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
