[include]
	path = .gitconfig_local
[core]
	excludesfile = ~/.gitignore_global
	pager = "delta"
	attributesfile = ~/.gitattributes_global
[diff]
	algorithm = histogram
	colorMoved = default
[interactive]
	diffFilter = "delta --color-only"
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[diff]
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool]
    prompt = false
[merge]
    tool = Kaleidoscope
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[delta]
	syntax-theme = GitHub
	line-numbers = true
