[include]
	path = .gitconfig_local
[interactive]
	diffFilter = delta --color-only
[core]
	pager = delta
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
[pull]
	rebase = true
[rebase]
    autostash = true
[diff]
	algorithm = histogram
	colorMoved = default
	tool = Kaleidoscope
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[delta]
	line-numbers = true
	tabs = 2
[delta "light-style"]
	dark = false
[delta "dark-style"]
	dark = true
[diff "plist"]
	textconv = /usr/libexec/PlistBuddy -c "Print"
	binary = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
